# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Logs
*.log

# CSV/Excel/Output files
*.csv
*.xlsx

# Local config
*.env
.env.*

# imgs
*.png
*.jpg